## POSTTEST KB 5

Nama  : Patricia Chandra

NIM : 2009106030

Kelas : Informatika A

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
df = pd.read_csv("Top 2000 Universities of the World - Sheet1.csv") ## untuk membaca dataset csv yang digunakan

Gunakan salah satu tipe pendekatan pada Supervised Learning.

In [84]:
df.head(10) ## untuk mengecek atau read data 10 pertama

,World Rank,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,Harvard University,USA,1,1,1,1,1,100.0
1,2,Massachusetts Institute of Technology,USA,2,4,12,2,8,96.7
2,3,Stanford University,USA,3,10,4,3,2,95.1
3,4,University of Cambridge,United Kingdom,1,3,25,4,10,94.1
4,5,University of Oxford,United Kingdom,2,7,27,9,4,93.3
5,6,Princeton University,USA,4,5,15,7,70,92.6
6,7,Columbia University,USA,5,11,14,10,15,92.0
7,8,University of Chicago,USA,6,8,16,27,22,91.5
8,9,University of Pennsylvania,USA,7,14,10,42,12,91.1
9,10,Yale University,USA,8,6,36,13,20,90.7

In [86]:
df.duplicated().sum()

0

In [87]:
x.dtypes

World Rank                         int64
National Rank                      int64
Score                            float64
Country_Algeria                    uint8
Country_Argentina                  uint8
                                  ...
Research Performance Rank_995      uint8
Research Performance Rank_996      uint8
Research Performance Rank_997      uint8
Research Performance Rank_998      uint8
Research Performance Rank_999      uint8
Length: 3697, dtype: object

## Encoding

In [73]:
from sklearn.preprocessing import OrdinalEncoder

In [94]:
encoder = OrdinalEncoder()
df["Country_encoded"] = encoder.fit_transform(df[["Country"]])
df.head(12)

In [95]:
x.head()

,World Rank,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank
0,1,Harvard University,USA,1,1,1,1,1
1,2,Massachusetts Institute of Technology,USA,2,4,12,2,8
2,3,Stanford University,USA,3,10,4,3,2
3,4,University of Cambridge,United Kingdom,1,3,25,4,10
4,5,University of Oxford,United Kingdom,2,7,27,9,4

In [96]:
x = pd.get_dummies(x)
x.head()

,World Rank,National Rank,Institution_A.A. Kharkevich Institute for Information Transmission Problems of the Russian Academy of Sciences,Institution_A.M. Prokhorov General Physics Institute of the Russian Academy of Sciences,Institution_A.N. Nesmeyanov Institute of Organoelement Compounds of the Russian Academy of Sciences,Institution_A.V. Nikolaev Institute of Inorganic Chemistry of the Siberian Branch of the Russian Academy of Sciences,Institution_AGH University of Science and Technology,Institution_Aalborg University,Institution_Aalto University,Institution_Aarhus University,...,Research Performance Rank_990,Research Performance Rank_991,Research Performance Rank_992,Research Performance Rank_993,Research Performance Rank_994,Research Performance Rank_995,Research Performance Rank_996,Research Performance Rank_997,Research Performance Rank_998,Research Performance Rank_999
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Split Training

In [97]:
df['Score'].value_counts()

65.8     29
66.0     28
65.9     27
66.1     27
66.2     27
         ..
86.0      1
86.1      1
86.3      1
86.4      1
100.0     1
Name: Score, Length: 238, dtype: int64

In [98]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=0)

## Standarisasi

In [99]:
from sklearn.preprocessing import StandardScaler

In [100]:
ss = StandardScaler()

In [101]:
x_scaled_train = ss.fit_transform(X_train)
x_scaled_test = ss.fit_transform(X_test)

ValueError: could not convert string to float: 'National Taipei University of Technology'

In [ ]:
knn = KNeighborsClassifier()
knn.fit(x_scaled_train,y_train)

knn_predic = knn.predict(x_scaled_test)
accuracy_knn = accuracy_score(y_test, knn_predic)
print("Akurasi algoritma KNN dengan default paramater :", round(accuracy_knn,3))

## Gunakan minimal 2 algoritma untuk membandingkan score/hasil terbaiknya.

In [ ]:
classifier = GaussianNB()

In [ ]:
classifier.fit(x_scaled_train,y_train)

In [ ]:
classifier_predic = classifier.predict(x_scaled_test)
accrucary_nb = accuracy_score(y_test, classifier_predic)
print("Hasil akurasi algoritma Gaussian Naive Bayes adalah :", round(accrucary_nb,3))

In [ ]:
algoritma = ["KNN","Gaussian Naive Bayes"]
prediksi_value = [accuracy_knn,accrucary_nb]
plt.figure(figsize=(10,10))
sns.barplot(x= algoritma, y= prediksi_value,palette='flare')
plt.title("Perbandingan Hasil Akurasi")
plt.xlabel("Akurasi (%)")
plt.ylabel("Algoritma")
plt.show()